body {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    margin: 0;
 }
  
 h1 {
    margin-left: 600px;
 }
  
 #btn1, #btn2 {
    margin: 0px;
    width: 100px;
    margin-left: 650px;
 }
  
 .container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    border: 50px solid tomato;
    margin-left: 410px;
 }
  
 .cell {
    border: 1px solid;
    border-color: gray;
    background-color: white;
    flex: 1 1 auto;
    width: 100%;
 }
  
 .column {
    display: flex;
    align-items: stretch;
    border-color: gray;
    background-color: white;
    width: 100%;
 }
 
 