.container {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: none;
    height: 600px;
    width: 600px;
}

.cell {
    
    border: solid;
    border-color: gray;
    background-color: white;
    height: 30px;
}

.row {
    align-self: start;
    border: solid;
    border-color: gray;
    background-color: white;
    width: 37px;
}