body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
    margin: 0;
 }
  
 h1 {
    font-size: 60px;
 }
  
 #btn1, #btn2 {
    margin: 0px;
    width: 100px;
 }
  
 .container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    border: 60px solid tomato;
    border-radius: 10%;
 }
  
 .cell {
    border: 1px solid;
    border-color: gray;
    background-color: white;
    flex: 1 1 auto;
    width: 100%;
 }
  
 .column {
    display: flex;
    align-items: stretch;
    border-color: gray;
    background-color: white;
    width: 100%;
 }
 
 